.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 12rem;
    row:last-child {
        margin-bottom: 6rem;
    }
    .advantage-subsection {
        @include section-details(42vw, 10rem);
        padding-right: 7rem;
        .advantage-subsection:last-child {
            padding-right: 0;
        }
        h3 {
            color: $color-2;
            font-size: 24px;
        }
        p {
            color: $primary-color;
            font-size: 18px;
        }
        a {
            color: $color-4;
            text-decoration: none;
        }
    }
}