.footer {
    hr {
        background: $color-2;
        height: 1px;
        border: 0;
        margin-bottom: 2.5rem;
    }
    .social-icons {
        margin-left: 2rem;
    }
    img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        @include lg {
            width: 30px;
            height: 30px;
        }
    }
    p {
        color: $primary-color;
        font-size: 11px;
        margin: 1.5rem 2rem 1.5rem 2rem;
        a {
            color: $primary-color;
        }
    }
    p:last-child {
        color: black;
        font-size: 12px;
        margin-bottom: 2.5rem;
    }
}