.header-img {
    height: 34rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    @include md {
        height: 25rem;
        margin-top: 0;
    }
    @include sm {
        height: 13rem;
    }
    .large-img {
        position: absolute;
        height: 34rem;
        width: 100vw;
        z-index: 1;
        @include md {
            display: none;
            height: 10rem;
        }
    }
    .small-img {
        display: none;
        @include md {
            display: block;
            width: 100%;
        }
    }
    div {
        position: absolute;
        background-color: rgb(44, 116, 95, 0.9);
        height: 34rem;
        width: 50vw;
        margin-left: 50vw;
        transform-origin: bottom left;
        -ms-transform: skew(-15deg, 0deg);
        -webkit-transform: skew(-15deg, 0deg);
        transform: skew(-15deg, 0deg);
        z-index: 99;
        @include md {
            display: none;
            height: 0;
        }
    }
}