.investment {
    hr {
        @include display-center;
        background: $color-2;
        height: 2px;
        border: 0;
        width: 6rem;
    }
    h2 {
        @include display-center;
        color: $color-2;
        font-size: 30px;        
    }
    p {
        @include section-details(95%, 4rem);
        color: $primary-color;
        font-size: 20px;
    }
}