.investment {
    h2 {
        @include display-center;
        color: $color-2;
        font-size: 30px;
    }
    hr {
        @include display-center;
        background: $color-2;
        height: 2px;
        border: 0;
        width: 6rem;
    }
    p {
        @include section-details(95%, 4rem);
        color: $primary-color;
        font-size: 20px;
        @include lg {
            @include section-details(95%, 6rem);
        }
        @include sm {
            @include section-details(85%, 14rem);
        }
    }
}