header {
  height: 24px;
  padding: 3rem 0 3rem 2rem;
}
@media (max-width: 720px) {
  header {
    display: flex;
    justify-content: center;
    padding: none;
    height: 2.5rem;
  }
}

.header-img {
  height: 34rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
@media (max-width: 720px) {
  .header-img {
    height: 25rem;
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .header-img {
    height: 13rem;
  }
}
.header-img .large-img {
  position: absolute;
  height: 34rem;
  width: 100vw;
  z-index: 1;
}
@media (max-width: 720px) {
  .header-img .large-img {
    display: none;
    height: 10rem;
  }
}
.header-img .small-img {
  display: none;
}
@media (max-width: 720px) {
  .header-img .small-img {
    display: block;
    width: 100%;
  }
}
.header-img div {
  position: absolute;
  background-color: rgba(44, 116, 95, 0.9);
  height: 34rem;
  width: 50vw;
  margin-left: 50vw;
  transform-origin: bottom left;
  transform: skew(-15deg, 0deg);
  z-index: 99;
}
@media (max-width: 720px) {
  .header-img div {
    display: none;
    height: 0;
  }
}

.investment h2 {
  display: flex;
  justify-content: center;
  color: #00945f;
  font-size: 30px;
}
.investment hr {
  display: flex;
  justify-content: center;
  background: #00945f;
  height: 2px;
  border: 0;
  width: 6rem;
}
.investment p {
  padding-left: 2rem;
  line-height: 31px;
  width: 95%;
  height: 4rem;
  color: #888888;
  font-size: 20px;
}
@media (max-width: 480px) {
  .investment p {
    padding-left: 2rem;
    line-height: 31px;
    width: 85%;
    height: 14rem;
  }
}

.careers {
  display: flex;
  justify-content: center;
  margin: 4rem 0 4rem 0;
}
.careers button {
  cursor: pointer;
  color: white;
  background-color: #e97300;
  font-size: 24px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
}

.advantage h2 {
  display: flex;
  justify-content: center;
  color: #00945f;
  font-size: 30px;
}
@media (max-width: 720px) {
  .advantage h2 {
    text-align: center;
  }
}
.advantage .title-underline {
  display: flex;
  justify-content: center;
  background: #00945f;
  height: 2px;
  width: 6rem;
  border: 0;
}
.advantage .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 12rem;
}
@media (max-width: 720px) {
  .advantage .row {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.advantage .row .section-divider {
  background: #888888;
  height: 9rem;
  width: 1px;
  border: 0;
  margin-top: 3rem;
}
@media (max-width: 720px) {
  .advantage .row .section-divider {
    height: 1px;
    width: 85vw;
    margin-top: 1rem;
  }
}
.advantage .row div {
  padding-left: 2rem;
  line-height: 31px;
  width: 42vw;
  height: 10rem;
}
@media (max-width: 720px) {
  .advantage .row div {
    padding-left: 2rem;
    line-height: 31px;
    width: 80vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.advantage .row div h3 {
  color: #00945f;
  font-size: 24px;
}
.advantage .row div p {
  color: #888888;
  font-size: 18px;
}
.advantage .row div a {
  color: #759b24;
  text-decoration: none;
}
.advantage .row div:last-child {
  margin-right: 2rem;
}
.advantage .row:last-child {
  margin-bottom: 6rem;
}
@media (max-width: 720px) {
  .advantage .row:last-child {
    margin-bottom: 1rem;
  }
}
.advantage .section-divider-sm {
  display: none;
}
@media (max-width: 720px) {
  .advantage .section-divider-sm {
    display: block;
    background-color: #888888;
    height: 1px;
    width: 85vw;
    border: 0;
    margin-top: 0;
  }
}

.home-loans {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-loans h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  background-color: #00945f;
  height: 60px;
  width: 90vw;
  margin-bottom: 0;
}
@media (max-width: 720px) {
  .home-loans h3 {
    line-height: 31px;
    height: 120px;
    width: 80vw;
    text-align: center;
  }
}
.home-loans span {
  padding-left: 2rem;
  line-height: 31px;
  width: 88vw;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf7f5;
}
@media (max-width: 960px) {
  .home-loans span {
    padding-left: 2rem;
    line-height: 31px;
    width: 86vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 720px) {
  .home-loans span {
    padding-left: 2rem;
    line-height: 31px;
    width: 72vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.home-loans p {
  color: #888888;
  padding: 2rem 4rem 2rem 4rem;
}
@media (max-width: 960px) {
  .home-loans p {
    padding: 1rem 2rem 1rem 2rem;
  }
}
@media (max-width: 720px) {
  .home-loans p {
    padding: 1rem 1rem 1rem 1rem;
  }
}

.quotes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}
@media (max-width: 720px) {
  .quotes {
    justify-content: center;
    flex-direction: column;
  }
}
.quotes .quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 31px;
  font-size: 18px;
  font-style: italic;
  width: 13vw;
}
@media (max-width: 720px) {
  .quotes .quote-container {
    font-size: 20px;
    width: 80vw;
    padding-left: 2rem;
  }
}
.quotes .quote-container:nth-child(2) {
  width: 25vw;
  padding: 0 12rem 0 12rem;
}
@media (max-width: 960px) {
  .quotes .quote-container:nth-child(2) {
    width: 30vw;
    padding: 0 6rem 0 6rem;
  }
}
@media (max-width: 720px) {
  .quotes .quote-container:nth-child(2) {
    width: 80vw;
    padding: 1rem 0 1rem 2rem;
  }
}
.quotes .quote-author-pic {
  text-align: center;
  width: 190px;
  height: 180px;
}
.quotes .quote {
  text-align: center;
  color: #888888;
  background-image: url("../../images/quoteBackground.gif");
  background-repeat: no-repeat;
}
.quotes .quote-author {
  text-align: center;
  font-style: normal;
  color: #009e77;
  width: 200px;
}

.footer hr {
  background: #00945f;
  height: 1px;
  border: 0;
  margin-bottom: 2.5rem;
}
.footer .social-icons {
  margin-left: 2rem;
}
.footer img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.footer p {
  color: #888888;
  font-size: 11px;
  margin: 1.5rem 2rem 1.5rem 2rem;
}
.footer p a {
  color: #888888;
}
.footer p:last-child {
  color: black;
  font-size: 12px;
  margin-bottom: 2.5rem;
}

body {
  font: 100% Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=index.css.map */