$font-stack: Arial, Helvetica, sans-serif;

// Shared styles
@import '_colors';
@import '_breakpoints';
@import '_mixins';

// Sections
@import './sections/_header';
@import './sections/_investmentInYou';
@import './sections/_careers';
@import './sections/_citizensAdvantage';
@import './sections/_oneHomeLoans';
@import './sections/_quotes';
@import './sections/_footer';


body {
    font: 100% $font-stack;
    margin: 0;
    padding: 0;
}